# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-action


name: Cypress - Testando APIs
on:
  push:
    branches:
      - 'main'

jobs:
  cypress-test:
    name: Run Test
    runs-on: ubuntu-16.04
    steps:
      - uses: actions/checkout@v2      
      - name: Install cypress and verify
        run: |
          npm ci
          $(npm bin)/cypress verify        
      - name: Run Cypress tests
        run: npm run test
        continue-on-error: true
